node_modules
bower_components
dist
.tmp
test
.idea/
*.iml
java/target
.settings
.project
.sonar
*.bak
target

spring-data-jpa/.classpath
spring-data-jpa/.gitignore
spring-data-model/.classpath
spring-data-model/.gitignore
web/.classpath
web/.gitignore
web/src/main/client/app/app.module.js.rej
spring-data-model/target/
spring-data-jpa/target/
web/target/
spring-data-model/target/*
spring-data-jpa/target/*
web/target/*
/target/
*/target/*