*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.iml
.idea/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.project
.settings/
spring-data-jpa/.classpath
spring-data-model/.classpath
web/.classpath
spring-data-model/.gitignore
spring-data-jpa/.gitignore
web/.gitignore

