<!DOCTYPE html>
<html>
<body>
<section>
    <div flash-message="5000" ></div>

    <p class="title">Search books by title:</p>
    <input type="text" ng-model="prefix">
    <button class="btn btn-success" ng-click="search()">Search</button>
    <button class="btn btn-success" ng-click="addBook()">Add book</button>
    <table class="list">
        <tr class="title">
            <th>Title</th>
            <th>Authors</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        <tr class="entity" ng-repeat="book in books">
            <td>{{ book.title }}</td>
            <td><span ng-repeat="author in book.authors">{{ author.firstName }} {{ author.lastName }}<span ng-if="!$last">,  </span></span></td>
            <td>
                <button class="btn btn-success" ng-click="updateBook(book)">Edit</button>
            </td>
            <td>
                <button class="btn btn-success" ng-click="deleteBook(book.id)">Remove</button>
            </td>
        </tr>
    </table>
</section>
</body>
</html>