<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8" />
    <title>Potwierdzenie usunięcia</title>
    <link rel="stylesheet" th:href="@{/static/confirmation.css}" href="/static/confirmation.css" />
    <script type="text/javascript" th:src="@{/static/jquery-1.12.0.js}"></script>
    <script type="text/javascript" th:src="@{/static/bookRemove.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var tmpBookId = [[${bookToDelete.id}]];
    </script>
</head>
<body>
    <div>
        <div th:inline="text">
            <h4>Do you want to remove book <em>"[[${bookToDelete.title}]]"</em>?</h4>
        </div>
        <button class="inline" id="bookRemove" type="submit">Yes</button>
        <form class="inline" th:action="@{/books}">
            <button type="submit">Return to list of books</button>
        </form>
    </div>
</body>
</html>